

*{ font-size: 36px;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
  font-style: italic;
  
align-content: center;
font-size: 40px;

};
#head{
  
  color:rgb(110, 95, 110);
  font-size:
  text center;

}

body{
background-color: rgb(160, 152, 216);
background-image: url("secreto_ok_editada.jpg");
background-blend-mode:multiply;
background-position: right bottom;
text-align: center;
height: 100px;
text-align: center;
  max-width: 100%;
}

h2 {
  background:#B9929F;
  border-radius:15px;
}
textarea {
background-color:D6D1B1 ;
  border-radius: 15px;
}
* input {
  background-color: #B9929F;
  border-radius: 15px;
} 
 




p{
  font-size: 20px;
}
#resultado{
  background-color:#D6D1B1 ;
  border-radius: 15px;
}
