

*{ font-size: 36px;
  font-family:"Roboto"; 
align-content: center;
font-size: 40px;


};
#head{
  
  color:rgb(206, 127, 206);
  font-size:
  text center;

}

body{
background-color: slateblue;
background-image: url("secreto_ok_editada.jpg");
background-blend-mode:l;
background-position: right bottom;
text-align: center;
height: 100px;
text-align: center;
  max-width: 100%;
}

h2 {
  background: rgb(230, 193, 230);
}
p{
  font-size: 20px;
}
#resultado{
  background-color: rgb(207, 166, 207);
}
button{
  border-radius: 5px;
}